@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.AppLayout)">
                <Authorizing>
                    <h2>Please wait...</h2>
                </Authorizing>
            </AuthorizeRouteView>
            @* <FocusOnNavigate RouteData="@routeData" Selector="article"/> *@
        </Found>
        <NotFound>
            <PageTitle>Página no encontrada | TimeTracker Pro</PageTitle>
            <LayoutView Layout="@typeof(ErrorLayout)">
                <NotFoundUI />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>