<span role="presentation" aria-hidden="true" class="@GetClasses()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M6 12h.01M12 12h.01M18 12h.01" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
    </svg>
    <span class="sr-only">More</span>
</span>