@if (DropdownParent?.IsOpen == true)
{
    <div class="absolute right-0 mt-2 w-40 rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5 z-50">
        <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
            @ChildContent
        </ul>
    </div>
}