@using AppTiemposV3.Web.Utils

@foreach (NotificationPosition pos in Enum.GetValues(typeof(NotificationPosition)))
{
    <div class="@GetContainerClass(pos)">
        @if (notificationsByPosition.TryGetValue(pos, out var list))
        {
            foreach (Notification n in list)
            {
                <div class=@($"{GetClasses(n.Type, n.IsVisible)}") @key="n.Id" id=@($"notification-{n.Id}")>
                    <div class="flex items-start">
                        <div class="flex-shrink-0 text-xl">
                            @GetNotificationIcon(n.Type)
                        </div>
                        <div class="ml-3 flex-1">
                            <p class="font-semibold">@n.Title</p>
                            @if (!string.IsNullOrEmpty(n.Description))
                            {
                                <p class="text-sm opacity-80">@n.Description</p>
                            }
                        </div>
                        <button @onclick="() => Close(n.Id)"
                                class="ml-3 text-gray-500 hover:text-gray-800 dark:hover:text-gray-200 cursor-pointer">
                            <Close />
                        </button>
                    </div>
                    @if (!n.IsFixed && n.ShowProgress)
                    {
                        <div class="h-1 bg-gray-300 dark:bg-gray-600 absolute bottom-0 left-0 rounded"
                             style="width:@($"{n.Progress}%"); transition:width 0.1s linear">
                        </div>
                    }
                </div>
            }
        }
    </div>
}
