<div class="@GetRootClasses()" role="progressbar" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="100">
    <div class="@GetIndicatorClasses()" style="@GetIndicatorStyle()">
        @Value
    </div>
</div>