<button @onclick="OnClickHandler" class="@GetClasses()">
    @if(IsSidebarClosed){
        <PanelLeftOpen />
    }else{
        <PanelLeftClose />
    }
    <span class="sr-only">Toggle Sidebar</span>
</button>