@page "/"

@layout MainLayout

<PageTitle>Iniciar Sesion | TimeTracker Pro</PageTitle>

<Card Class="w-full max-w-md shadow-xl border-gray-200 dark:border-gray-700 bg-white/80 dark:bg-gray-800/90  backdrop-blur-sm">
	<CardHeader Class="text-center space-y-4">
		<div class="mx-auto w-16 h-16 bg-gradient-to-r from-blue-500 to-purple-600  rounded-2xl flex items-center justify-center">
			<Clock Class="w-8 h-8 text-white"/>
		</div>
		<div>
			<CardTitle Class="text-2xl font-bold text-gray-900 dark:text-white pb-1">TimeTracker Pro</CardTitle>
			<CardDescription Class="text-gray-600 dark:text-gray-300">
				Gestiona tus horarios laborales de forma inteligente
			</CardDescription>
		</div>
	</CardHeader>
	<CardContent>
		@if (isError)
		{
			<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-3 rounded relative" role="alert">
				<i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
				<div class="block sm:inline">
					@messageError
				</div>
				<button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3 cursor-pointer" @onclick="() => { isError = false; StateHasChanged(); }">
					<Close Class="h-6 w-6 text-red-500" />
				</button>
			</div>
		}

		<EditForm Enhance Model=@login class="space-y-4" novalidate OnValidSubmit=@SendLogin FormName="LoginForm">
			<DataAnnotationsValidator/>
			<div class="space-y-2">
				<Label For="email" Id="emailLabel" Class="text-gray-700 dark:text-gray-300 mb-3 block">Email</Label>
				<div class="relative">
					<Input
						Type="email"
						@bind-Value="login.Email"
						Id="email"
						Name="email"
						Placeholder="jhon.doe@example.com"
						Autocomplete="off"
						Required
						Autofocus
						Class="pr-10 font-medium bg-white dark:bg-gray-700 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400"
					/>
					<User Class="absolute right-3 top-3 h-4 w-4 text-gray-400 dark:text-gray-500" />
				</div>
				<ValidationMessage For="() => login.Email" class="text-xs text-red-600"/>
			</div>
			<div class="space-y-2">
				<Label For="password-hide" Id="password" Class="text-gray-700 dark:text-gray-300 mb-3 block">Contraseña</Label>
				<div class="relative">
					<Input
						Type="@(showPassword ? "text" : "password")"
						@bind-Value="login.Password"
						Id="@(showPassword ? "password-show" : "password-hide")"
						Name="password"
						Placeholder="****************"
						Autocomplete="off"
						Required
						Class="pr-10 font-medium bg-white dark:bg-gray-700 border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white placeholder-gray-500 dark:placeholder-gray-400"
					/>

					<ShowPassword @bind-IsVisible="showPassword"/>
				</div>
				<ValidationMessage For="() => login.Password" class="text-xs text-red-600"/>
			</div>
			<div class="flex items-center justify-between">
				<div class="flex items-center space-x-2">
					<Checkbox
						@bind-Value="login.RememberMe"
						Id="remember"
						Name="remember"
						Class="cursor-pointer"
						Required/>
					<Label For="remember" Id="remember" Class="text-gray-700 dark:text-gray-300 cursor-pointer">
						Recordarme
					</Label>
				</div>
				<Enlace
					Href="olvide-contrasena"
					Class="text-sm text-blue-600 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300 hover:underline">
					¿Olvidaste tu contraseña?
				</Enlace>
			</div>
			<Button Type="submit"
			        Disabled="@(isLoading || (!IsValidEmail(login.Email) || login.Password == ""))"
			        Class="w-full bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700 text-white font-medium py-2.5 cursor-pointer">

				@if (isLoading)
				{
					<LoaderCircle Class="mr-3 size-5 animate-spin" />
					<span>Iniciando sesion...</span>
				}
				else
				{						
					<LogIn Class="me-2 size-5" />
					<span>
						Iniciar Sesión
					</span>
				}
			</Button>
		</EditForm>
		<div class="mt-6  text-center border-t border-gray-200 dark:border-gray-700">
			<p class="text-sm pt-4 font-medium text-gray-600 dark:text-gray-400">
				¿No tienes una cuenta?
				<Enlace Href="/unirme" Class="font-semibold text-blue-600 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300 hover:underline">
					Solicitar invitación
				</Enlace>
			</p>
		</div>
	</CardContent>
</Card>

