@using Microsoft.AspNetCore.Components.Authorization
@using AppTiemposV3.Web.Pages
@inject NavigationManager Router
@inject AuthenticationStateProvider AuthStateProvider

@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu /> *@
    @* </div> *@

    <main class="flex">
        @* <article class="content px-4"> *@
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="fullscreen-loader">
                        <div class="spinner-border text-danger"></div>
                        <p>Validando autorización...</p>
                    </div>
                </Authorizing>
            </AuthorizeView>
        @* </article> *@
    </main>
</div>


<div id="blazor-error-ui">
    Se ha producido un error.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

