.fullscreen-loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

#blazor-error-ui {
    display: none;
    width: 100%;
    z-index: 1000;
}

.main-expanded {
    margin-left: calc(var(--spacing) * 82);
    width: calc(100% - calc(var(--spacing) * 82));
}

.main-collapsed {
    margin-left: calc(var(--spacing) * 16);
    width: calc(100% - calc(var(--spacing) * 16));
}
