@using Microsoft.AspNetCore.Components.Authorization
@using AppTiemposV3.Web.Pages

@inherits LayoutComponentBase

<div class="page">
    <div>
        <Sidebar IsClosed="@State.IsSidebarClosed" />
    </div>

    <main class="flex min-h-screen @(State.IsSidebarClosed ? "main-collapsed" : "main-expanded")">
            <AuthorizeView>
                <Authorized>
                    <NotificationContainer />
                    @Body
                </Authorized>
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="fullscreen-loader">
                        <div class="spinner-border text-danger"></div>
                        <p>Validando autorización...</p>
                    </div>
                </Authorizing>
            </AuthorizeView>
    </main>
</div>

<div id="blazor-error-ui" class="select-none fixed bottom-4 left-1/2 -translate-x-1/2 max-w-lg w-full bg-red-100 border border-red-400 text-red-800 px-4 py-3 rounded-lg shadow-lg flex items-center justify-between">
    <div class="flex items-center justify-between w-full">
        <div class="flex items-center space-x-2">
            <AlertTriangle Class="h-5 w-5 text-red-600 font-bold leading-none"/>
            <span class="text-sm font-bold leading-none">
                Algo salió mal.
            </span>
            <span class="text-gray-700 hover:text-gray-800 text-sm font-semibold leading-none">
                Recarga con el botón de la derecha.
            </span>
        </div>
        <a class="reload cursor-pointer">
            <RotateCw Class="h-5 w-5 text-gray-700 hover:text-red-800 text-sm font-bold leading-none" />
        </a>
    </div>
</div>

