@inherits LayoutComponentBase

<div class="d-flex flex-column align-items-center justify-content-center pg-body h-screen ">
    @Body
</div>

<div id="blazor-error-ui">
    Se ha producido un error.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>